@{
    ViewData["Title"] = "Home";
}

<!--========================== Hero Section ==========================-->

<section class="hero__area bg-img sign__area" data-background-image="~/assets/images/hero/bg.webp">

    <div class="sign__bg">
        @* <img src="~/assets/images/banner-bg.png" alt="img">  *@
        </div>
        <div class="hero__sp"><img src="~/assets/images/wave-sp.png" alt="img"></div>
        <div class="hero__sp hero__sp__two"><img src="~/assets/images/wave-sp.png" alt="img"></div>

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero__wrap">

                        <div class="hero__wrap__users" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1500">
                            <div class="hero__wrap__users__img">
                                <span><img src="~/assets/images/hero/user-1.jpg" alt="img"></span>
                                <span><img src="~/assets/images/hero/user-2.jpg" alt="img"></span>
                                <span><img src="~/assets/images/hero/user-3.jpg" alt="img"></span>
                                <span><img src="~/assets/images/hero/user-4.jpg" alt="img"></span>
                            </div>
                            <div class="hero__wrap__users__title">
                                <span><span class="counter">10,000</span>+ Happy Users</span>
                            </div>
                        </div>

                        <div class="hero__wrap__title">
                            <h1>Online Mobile<span>Recharge & Bill</span>Payment Portal</h1>
                        </div>

                        <div class="hero__thumb">
                            <span class="hero__thumb__sr1"></span>
                            <span class="hero__thumb__sr2"></span>
                            <img src="~/assets/images/hero/hero-thumb.png" alt="img">
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!--========================== Hero Section End ==========================-->
        <!--========================== Recommendation Section ==========================-->
        <section class="recom__area">
            @* <div class="recom__bg"><img src="~/assets/images/green-sp.png" alt="img"></div> *@
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="recom__title" data-aos="fade-up-left" data-aos-delay="200" data-aos-duration="1200">
                            <h2>Fast & Secure <span>Digital Recharge</span></h2>
                        </div>
                    </div>
                </div>
                <div class="row g-4">
                    <div class="col-lg-7 col-md-7">
                        <div class="recom__thumb" data-aos="zoom-out" data-aos-delay="400" data-aos-duration="1500">
                            <img src="~/assets/images/recom/recom-thumb.jpg" alt="img">
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5">
                            <div class="recom__content" data-aos="zoom-out-up" data-aos-delay="400" data-aos-duration="1200">
                                <div class="recom__sp"><img src="~/assets/images/wave-sp.png" alt="img"></div>
                                <div class="recom__sp recom__sp__two"><img src="~/assets/images/wave-sp.png" alt="img"></div>
                                <h4><span class="counter">99</span>%</h4>
                                <p>Recharge Success Rate</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--========================== Recommendation Section End ==========================-->
            <!--========================== Service Section ==========================-->
            <div class="service__area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="service__main">

                                <div class="service__main__single">
                                    <div class="service__main__single__title" data-aos="zoom-out-left" data-aos-delay="200" data-aos-duration="1000">
                                        <a href="/Recharge">Top Up Recharge</a>
                                    </div>
                                    <div class="service__main__single__thumb">
                                        <img src="~/assets/images/service/service-thumb4.jpg" alt="img">
                                        </div>
                                    </div>

                                    <div class="service__main__single">
                                        <div class="service__main__single__title" data-aos="zoom-out-left" data-aos-delay="300" data-aos-duration="1000">
                                            <a href="/Recharge">Special Recharge</a>
                                        </div>
                                        <div class="service__main__single__thumb">
                                            <img src="~/assets/images/service/service-thumb5.jpg" alt="img">
                                            </div>
                                        </div>

                                        <div class="service__main__single active">
                                            <div class="service__main__single__title" data-aos="zoom-out-left" data-aos-delay="400" data-aos-duration="1000">
                                                <a href="/Recharge/Postpaid">Post Bill Payment</a>
                                            </div>
                                            <div class="service__main__single__thumb">
                                                <img src="~/assets/images/service/service-thumb.jpg" alt="img">
                                                </div>
                                            </div>

                                            <div class="service__main__single">
                                                <div class="service__main__single__title" data-aos="zoom-out-left" data-aos-delay="400" data-aos-duration="1000">
                                                    <a href="/MyAccount">Do Not Disturb</a>
                                                </div>
                                                <div class="service__main__single__thumb">
                                                    <img src="~/assets/images/service/service-thumb2.jpg" alt="img">
                                                    </div>
                                                </div>

                                                <div class="service__main__single">
                                                    <div class="service__main__single__title" data-aos="zoom-out-left" data-aos-delay="400" data-aos-duration="1000">
                                                        <a href="/MyAccount">Caller Tunes</a>
                                                    </div>
                                                    <div class="service__main__single__thumb">
                                                        <img src="~/assets/images/service/service-thumb3.jpg" alt="img">
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--========================== Service Section End ==========================-->
                                <!--========================== Payment Slider Section ==========================-->
                                <section class="payment__area">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="payment__main__slider owl-carousel">
                                                    <div class="payment__title">
                                                        <video autoplay muted loop>
                                                            <source src="~/assets/images/payment-bg.mp4" type="video/mp4">
                                                            </video>
                                                            <h2>Recharge</h2>
                                                        </div>
                                                        <div class="payment__title">
                                                            <video autoplay muted loop>
                                                                <source src="~/assets/images/payment-bg.mp4" type="video/mp4">
                                                                </video>
                                                                <h2>Pay Bills</h2>
                                                            </div>
                                                            <div class="payment__title">
                                                                <video autoplay muted loop>
                                                                    <source src="~/assets/images/payment-bg.mp4" type="video/mp4">
                                                                    </video>
                                                                    <h2>Activate</h2>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                            <!--========================== Payment Slider Section End ==========================-->
                                            <!--========================== Feature Section ==========================-->
                                            <section class="feature__area">
                                                <div class="feature__sp"><img src="~/assets/images/feature/circle-2.png" alt="img"></div>
                                                <div class="feature__sp sp-four"><img src="~/assets/images/feature/arrow.png" alt="img"></div>
                                                <div class="feature__sp sp-three"><img src="~/assets/images/feature/water-sp.png" alt="img"></div>
                                                <div class="feature__sp sp-two"><img src="~/assets/images/wave-sp.png" alt="img"></div>
                                                @* <div class="feature__snake__sp"><img src="~/assets/images/yellow-sp.png" alt="img"></div> *@
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="feature__title">
                                                                <h2 data-aos="fade-up-left" data-aos-delay="200" data-aos-duration="1200">
                                                                    Why Choose <span>Our Platform?</span>
                                                                </h2>
                                                                <a href="/Recharge" class="common__btn" data-aos="fade-down-right" data-aos-delay="200" data-aos-duration="1200">
                                                                    <span>Recharge Now</span><span><i class="fa-solid fa-arrow-right"></i></span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row g-5 justify-content-center">

                                                        <!-- Feature 1 -->
                                                        <div class="col-lg-6 col-md-6 order-1 order-md-1 order-lg-1 order-xl-1">
                                                            <div class="feature__main" data-aos="fade-right" data-aos-delay="400" data-aos-duration="1200">
                                                                <div class="feature__box"><img src="~/assets/images/feature/box.png" alt="img"></div>
                                                                <div class="feature__main__thumb">
                                                                    <div class="feature__main__thumb__sp">
                                                                        <span>Airtel</span><span>Jio</span><span>Vi</span><span>BSNL</span>
                                                                        <span>Idea</span><span>Vodafone</span><span>MTNL</span>
                                                                        <span>Postpaid</span><span>Prepaid</span><span>Data Pack</span>
                                                                    </div>
                                                                    <div class="feature__main__thumb__sp three">
                                                                        <img class="fp__one" src="~/assets/images/feature/fp-1.jpg" alt="img">
                                                                            <span class="color__bl">Top Up</span>
                                                                            <img class="fp__two" src="~/assets/images/feature/fp-2.jpg" alt="img">
                                                                                <img class="mouse__cursor" src="~/assets/images/feature/cursor.png" alt="img">
                                                                                </div>
                                                                                <div class="feature__main__thumb__sp two">
                                                                                    <span>SMS Pack</span><span>Talk Time</span><span>Roaming</span>
                                                                                    <span>Night Pack</span><span>Weekly</span><span>Monthly</span>
                                                                                    <span>Annual</span><span>Special</span><span>Combo</span><span>Unlimited</span>
                                                                                </div>
                                                                            </div>
                                                                            <div class="feature__content">
                                                                                <h4>All Operators Supported</h4>
                                                                                <p>Recharge any mobile number across all major Indian operators — Jio, Airtel, Vi, BSNL and more. Top Up and Special plans available instantly at your fingertips.</p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="feature__img" data-aos="fade-right" data-aos-delay="400" data-aos-duration="1200">
                                                                            <img src="~/assets/images/feature/feature-1.jpg" alt="img">
                                                                            </div>
                                                                        </div>

                                                                        <!-- Feature 2 -->
                                                                        <div class="col-lg-6 col-md-6 order-3 order-md-2 order-lg-2 order-xl-2">
                                                                            <div class="feature__img two" data-aos="fade-left" data-aos-delay="400" data-aos-duration="1200">
                                                                                <img src="~/assets/images/feature/feature-2.jpg" alt="img">
                                                                                </div>
                                                                                <div class="feature__main" data-aos="fade-left" data-aos-delay="400" data-aos-duration="1200">
                                                                                    <div class="feature__box"><img src="~/assets/images/feature/circle.png" alt="img"></div>
                                                                                    <div class="feature__main__thumb thumb-two pb-0">
                                                                                        <div class="feature__main__thumb__inner">
                                                                                            <img src="~/assets/images/feature/feature-dash.png" alt="img">
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="feature__content">
                                                                                            <h4>Secure Online Payment</h4>
                                                                                            <p>Pay safely using Credit Card, Debit Card, Net Banking, or UPI. Every transaction is encrypted and secured. Instant receipt generated after every successful payment.</p>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>

                                                                                <!-- Feature 3 -->
                                                                                <div class="col-lg-6 col-md-6 order-2 order-md-3 order-lg-3 order-xl-3">
                                                                                    <div class="feature__main" data-aos="fade-up" data-aos-delay="400" data-aos-duration="1200">
                                                                                        <div class="feature__box"><img src="~/assets/images/feature/circle.png" alt="img"></div>
                                                                                        <div class="feature__main__thumb">
                                                                                            <div class="feature__img__wrap">
                                                                                                <span><img src="~/assets/images/feature/fs-1.png" alt="img"></span>
                                                                                                <span><img src="~/assets/images/feature/fs-2.png" alt="img"></span>
                                                                                                <span><img src="~/assets/images/feature/fs-3.png" alt="img"></span>
                                                                                                <span><img src="~/assets/images/feature/fs-4.png" alt="img"></span>
                                                                                                <span><img src="~/assets/images/feature/fs-5.png" alt="img"></span>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="feature__content">
                                                                                            <h4>24/7 Customer Support</h4>
                                                                                            <p>Our dedicated customer care team is available round the clock. Reach us via phone, email, or WhatsApp for any recharge or payment related queries.</p>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                    </section>
                                                                    <!--========================== Feature Section End ==========================-->
                                                                    <!--========================== Counter Section ==========================-->
                                                                    <section class="counter__area">
                                                                        @* <div class="counter__sp"><img src="~/assets/images/green-sp.png" alt="img"></div> *@
                                                                        <div class="container-fluid p-0">
                                                                            <div class="counter__main">
                                                                                <div class="counter__main__single">
                                                                                    <h4><span class="counter">99</span><span class="counter__stroke">%</span></h4>
                                                                                    <p>Recharge Success Rate</p>
                                                                                </div>
                                                                                <div class="counter__main__single">
                                                                                    <h4><span class="counter">10</span><span class="counter__stroke">k+</span></h4>
                                                                                    <p>Happy Registered Users</p>
                                                                                </div>
                                                                                <div class="counter__main__single">
                                                                                    <h4><span class="counter">50</span><span class="counter__stroke">k+</span></h4>
                                                                                    <p>Transactions Completed</p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </section>
                                                                    <!--========================== Counter Section End ==========================-->
                                                                    <!--========================== Testimonial Section ==========================-->
                                                                    <section class="testimonial__area">
                                                                        @* <div class="testimonial__sp"><img src="~/assets/images/yellow-sp.png" alt="img"></div> *@
                                                                        <div class="testimonial__bg"><img src="~/assets/images/testimonial/tes-bg.png" alt="img"></div>
                                                                        <div class="container-fluid p-0">
                                                                            <div class="row">
                                                                                <div class="col-lg-12">
                                                                                    <div class="hero__wrap__users" data-aos="fade-up-left" data-aos-delay="200" data-aos-duration="1200">
                                                                                        <div class="hero__wrap__users__img">
                                                                                            <span><img src="~/assets/images/hero/user-1.jpg" alt="img"></span>
                                                                                            <span><img src="~/assets/images/hero/user-2.jpg" alt="img"></span>
                                                                                            <span><img src="~/assets/images/hero/user-3.jpg" alt="img"></span>
                                                                                            <span><img src="~/assets/images/hero/user-4.jpg" alt="img"></span>
                                                                                        </div>
                                                                                        <div class="hero__wrap__users__title">
                                                                                            <span><span class="counter">10,000</span>+ Happy Users</span>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="testimonial__title" data-aos="zoom-in-up" data-aos-delay="400" data-aos-duration="1400">
                                                                                        <h2>What Our Users Say About Their <span>Recharge Experience</span></h2>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-lg-12">
                                                                                    <div class="testimonial__wrap owl-carousel">

                                                                                        <div class="testimonial__single">
                                                                                            <div class="testimonial__single__title">
                                                                                                <span><img src="~/assets/images/testimonial/love-emoji.png" alt="img"></span>
                                                                                                <h3>Super Fast Recharge!</h3>
                                                                                            </div>
                                                                                            <div class="testimonial__single__content">
                                                                                                <p>"I recharged my number in less than a minute. The process was so simple — just enter mobile number, select plan, pay and done! Received receipt instantly."</p>
                                                                                            </div>
                                                                                            <div class="testimonial__single__user">
                                                                                                <div class="testimonial__single__user__img">
                                                                                                    <img src="~/assets/images/testimonial/user-2.jpg" alt="img">
                                                                                                    </div>
                                                                                                    <div class="testimonial__single__user__info">
                                                                                                        <h4>Rahul Sharma</h4>
                                                                                                        <p>Regular User</p>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>

                                                                                            <div class="testimonial__single">
                                                                                                <div class="testimonial__single__title">
                                                                                                    <span><img src="~/assets/images/testimonial/like.png" alt="img"></span>
                                                                                                    <h3>Best Recharge Platform!</h3>
                                                                                                </div>
                                                                                                <div class="testimonial__single__content">
                                                                                                    <p>"Paying my postpaid bill has never been easier. I love the My Account section where I can also activate Do Not Disturb and Caller Tunes from one place."</p>
                                                                                                </div>
                                                                                                <div class="testimonial__single__user">
                                                                                                    <div class="testimonial__single__user__img">
                                                                                                        <img src="~/assets/images/testimonial/user-1.jpg" alt="img">
                                                                                                        </div>
                                                                                                        <div class="testimonial__single__user__info">
                                                                                                            <h4>Priya Mehta</h4>
                                                                                                            <p>Verified User</p>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>

                                                                                                <div class="testimonial__single">
                                                                                                    <div class="testimonial__single__title">
                                                                                                        <span><img src="~/assets/images/testimonial/star-emoji.png" alt="img"></span>
                                                                                                        <h3>Very Secure & Reliable!</h3>
                                                                                                    </div>
                                                                                                    <div class="testimonial__single__content">
                                                                                                        <p>"I was worried about online payments but this platform is very secure. Every transaction shows a printable receipt and the payment methods are all trusted."</p>
                                                                                                    </div>
                                                                                                    <div class="testimonial__single__user">
                                                                                                        <div class="testimonial__single__user__img">
                                                                                                            <img src="~/assets/images/testimonial/user-3.jpg" alt="img">
                                                                                                            </div>
                                                                                                            <div class="testimonial__single__user__info">
                                                                                                                <h4>Arjun Patel</h4>
                                                                                                                <p>Premium User</p>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>

                                                                                                    <div class="testimonial__single">
                                                                                                        <div class="testimonial__single__title">
                                                                                                            <span><img src="~/assets/images/testimonial/like.png" alt="img"></span>
                                                                                                            <h3>Special Plans Are Amazing!</h3>
                                                                                                        </div>
                                                                                                        <div class="testimonial__single__content">
                                                                                                            <p>"The Special Recharge plans give great value. I get unlimited calls, data and SMS all in one plan. The table listing makes it very easy to compare and choose."</p>
                                                                                                        </div>
                                                                                                        <div class="testimonial__single__user">
                                                                                                            <div class="testimonial__single__user__img">
                                                                                                                <img src="~/assets/images/testimonial/user-1.jpg" alt="img">
                                                                                                                </div>
                                                                                                                <div class="testimonial__single__user__info">
                                                                                                                    <h4>Sana Khan</h4>
                                                                                                                    <p>Registered User</p>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>

                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </section>
                                                                                    <!--========================== Testimonial Section End ==========================-->
                                                                                    <!--========================== FAQ Section ==========================-->
                                                                                    <section class="faq__area">
                                                                                        <div class="faq__sp"><img src="~/assets/images/wave-sp.png" alt="img"></div>
                                                                                        <div class="faq__sp sp2"><img src="~/assets/images/faq/sp1.png" alt="img"></div>
                                                                                        <div class="faq__sp sp3"><img src="~/assets/images/faq/arrow.png" alt="img"></div>
                                                                                        <div class="container">
                                                                                            <div class="row">
                                                                                                <div class="col-lg-12">
                                                                                                    <div class="faq__title" data-aos="flip-up" data-aos-delay="200" data-aos-duration="1200">
                                                                                                        <h2>Frequently Asked <span>Questions</span></h2>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="row">
                                                                                                <div class="col-lg-12">
                                                                                                    <div class="faq__main__blk">
                                                                                                        <div class="accordion" id="accordionExample">

                                                                                                            <div class="accordion-item">
                                                                                                                <h2 class="accordion-header">
                                                                                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                                                                                        <span class="faq__plus faq__icon"><i class="fa-solid fa-plus"></i></span>
                                                                                                                        <span class="faq__minus faq__icon"><i class="fa-solid fa-minus"></i></span>
                                                                                                                        Do I need to register to recharge my mobile?
                                                                                                                    </button>
                                                                                                                </h2>
                                                                                                                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                                                                                                    <div class="accordion-body">
                                                                                                                        No! You can do a Top Up recharge as a guest without registering. Simply click on Online Recharge, enter your 10-digit mobile number, select a plan, and pay. However, for services like Post Bill Payment, Caller Tunes, and Do Not Disturb, you need to register and login.
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            </div>

                                                                                                            <div class="accordion-item active">
                                                                                                                <h2 class="accordion-header">
                                                                                                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                                                                                        <span class="faq__plus faq__icon"><i class="fa-solid fa-plus"></i></span>
                                                                                                                        <span class="faq__minus faq__icon"><i class="fa-solid fa-minus"></i></span>
                                                                                                                        How do I create My Account?
                                                                                                                    </button>
                                                                                                                </h2>
                                                                                                                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                                                                                                    <div class="accordion-body">
                                                                                                                        Click on Register in the navigation bar. Enter your 10-digit mobile number (this will be your username), your email address, and a password. Once registered, you can login and access all services including Post Bill Payment, Caller Tunes, Do Not Disturb and more.
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            </div>

                                                                                                            <div class="accordion-item">
                                                                                                                <h2 class="accordion-header">
                                                                                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                                                                                        <span class="faq__plus faq__icon"><i class="fa-solid fa-plus"></i></span>
                                                                                                                        <span class="faq__minus faq__icon"><i class="fa-solid fa-minus"></i></span>
                                                                                                                        How can I pay my postpaid bill?
                                                                                                                    </button>
                                                                                                                </h2>
                                                                                                                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                                                                                                    <div class="accordion-body">
                                                                                                                        Login to your account and click on Post Bill Payment from the navigation menu or My Account. Enter your postpaid mobile number, select your preferred payment method (Credit Card, Debit Card, Net Banking or UPI), and complete the payment. A receipt will be generated instantly.
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            </div>

                                                                                                            <div class="accordion-item">
                                                                                                                <h2 class="accordion-header">
                                                                                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                                                                                        <span class="faq__plus faq__icon"><i class="fa-solid fa-plus"></i></span>
                                                                                                                        <span class="faq__minus faq__icon"><i class="fa-solid fa-minus"></i></span>
                                                                                                                        Is it safe to make payments on this platform?
                                                                                                                    </button>
                                                                                                                </h2>
                                                                                                                <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                                                                                                    <div class="accordion-body">
                                                                                                                        Yes, absolutely. All transactions are secured and encrypted. We support trusted payment methods including Credit Card, Debit Card, Net Banking, and UPI. A unique transaction ID is generated for every successful payment and you can print the receipt for your records.
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            </div>

                                                                                                            <div class="accordion-item">
                                                                                                                <h2 class="accordion-header">
                                                                                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                                                                                                        <span class="faq__plus faq__icon"><i class="fa-solid fa-plus"></i></span>
                                                                                                                        <span class="faq__minus faq__icon"><i class="fa-solid fa-minus"></i></span>
                                                                                                                        What is the difference between Top Up and Special Recharge?
                                                                                                                    </button>
                                                                                                                </h2>
                                                                                                                <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                                                                                                    <div class="accordion-body">
                                                                                                                        Top Up adds talk time balance to your mobile number and is available to all users including guests. Special Recharge includes combo plans with Data, SMS, and Calls bundled together at discounted prices. Both are listed in tabular format so you can easily compare and select the best plan for you.
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            </div>

                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </section>
                                                                                    <!--========================== FAQ Section End ==========================-->
                                                                                    <!--========================== App Section ==========================-->
                                                                                    <section class="app__area">
                                                                                        @* <div class="app__bg"><img src="~/assets/images/green-sp.png" alt="img"></div> *@
                                                                                        <div class="container">
                                                                                            <div class="row"></div>
                                                                                        </div>
                                                                                    </section>
                                                                                    <!--========================== App Section End ==========================-->
                                                                                    <!--========================== Brand Section ==========================-->
                                                                                    <section class="brand__area">
                                                                                        <div class="container">
                                                                                            <div class="row">
                                                                                                <div class="col-lg-12">
                                                                                                    <div class="brand__title">
                                                                                                        <span class="brand__line"></span>
                                                                                                        <h2>Trusted Payment Partners</h2>
                                                                                                        <span class="brand__line"></span>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="row">
                                                                                                <div class="col-lg-12">
                                                                                                    <div class="brand__main">
                                                                                                        @for (int i = 1; i <= 12; i++)
                                                                                                        {
                                                                                                            <div class="brand__main__single" data-aos="zoom-in-up" data-aos-delay="300" data-aos-duration="1200">
                                                                                                                <img src="~/assets/images/brand/b@(i).png" alt="Partner @i">
                                                                                                                </div>
                                                                                                            }
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </section>
                                                                                        <!--========================== Brand Section End ==========================-->